.textos-infos{

    background-color: rgb(160, 173, 161);
    color: rgb(255, 255, 255);
}

#links-paginas{
    
    background-color: rgb(218, 201, 106);
    color: darkorange;
}

#titulo{
    color: gold;
    background-color: grey;
    width: 500px;
    height: 50px;
}

#titulo2{
    color: gold;
    background-color: grey;
    width: 200px;
    height: 50px;
}